In [1]:
import dask.dataframe as dd

Como o arquivo é muito grande, o abri utilizando o dask.dataframe, pois o pandas carrega todo o arquivo na memória RAM do computador. Neste caso, eu precisaria de no mínimo 8 gigas de memória e ainda assim não me sobraria mais nada para fazer os restantes das tarefas. Os comandos são basicamente o mesmos.

In [2]:
df = dd.read_csv('202004_AuxilioEmergencial.csv', sep=';', encoding='latin-1')

Criei um dataframe com os dados do Auxílio Emergencial usando ponto e vírgula como separador e a codificação latin-1. Descobri isso importando primeiramente com as configurações padrões e percebi que não estava bem formatado.

In [3]:
df.head(5)

,MÊS DISPONIBILIZAÇÃO,UF,CÓDIGO MUNICÍPIO IBGE,NOME MUNICÍPIO,NIS BENEFICIÁRIO,CPF BENEFICIÁRIO,NOME BENEFICIÁRIO,NIS RESPONSÁVEL,CPF RESPONSÁVEL,NOME RESPONSÁVEL,ENQUADRAMENTO,PARCELA,OBSERVAÇÃO,VALOR BENEFÍCIO
0,202004,NaN,NaN,NaN,0,***.362.572-**,ADENILSO MACENA DOS SANTOS,-2,NaN,Não se aplica,CADUN NAO BOLSA,1ª,Não há,"600,00"
1,202004,NaN,NaN,NaN,0,***.845.782-**,ADINILSON SANTANA ALVES,-2,NaN,Não se aplica,CADUN NAO BOLSA,1ª,Não há,"600,00"
2,202004,NaN,NaN,NaN,0,***.988.794-**,ADNA KAMILA DOS SANTOS DOMINGOS BARROS,-2,NaN,Não se aplica,CADUN NAO BOLSA,1ª,Não há,"600,00"
3,202004,NaN,NaN,NaN,0,***.018.624-**,ADONY SANTOS SILVA,-2,NaN,Não se aplica,CADUN NAO BOLSA,1ª,Não há,"600,00"
4,202004,NaN,NaN,NaN,0,***.754.740-**,ADRIANDO SGARBI,-2,NaN,Não se aplica,CADUN NAO BOLSA,1ª,Não há,"600,00"

Pedi para me mostrar as cinco primeiras entradas do dataframe para eu ver como estava organizado.

In [4]:
df = df.dropna(subset=['UF'])

Queria me livrar das linhas com NaN (not a number) e comecei pela coluna UF.

In [5]:
df.head(5)

,MÊS DISPONIBILIZAÇÃO,UF,CÓDIGO MUNICÍPIO IBGE,NOME MUNICÍPIO,NIS BENEFICIÁRIO,CPF BENEFICIÁRIO,NOME BENEFICIÁRIO,NIS RESPONSÁVEL,CPF RESPONSÁVEL,NOME RESPONSÁVEL,ENQUADRAMENTO,PARCELA,OBSERVAÇÃO,VALOR BENEFÍCIO
273,202004,AC,1200013.0,ACRELANDIA,0,***.892.435-**,ABEDI MANANGA,-2,NaN,Não se aplica,EXTRA CADUN,1ª,Não há,"600,00"
274,202004,AC,1200013.0,ACRELANDIA,23688307034,***.105.752-**,ABEL DA COSTA PAULICHEN,-2,NaN,Não se aplica,CADUN NAO BOLSA,1ª,Não há,"600,00"
275,202004,AC,1200013.0,ACRELANDIA,16162958613,***.690.492-**,ABIDIAS DE OLIVEIRA MACIEL,-2,NaN,Não se aplica,CADUN NAO BOLSA,1ª,Não há,"600,00"
276,202004,AC,1200013.0,ACRELANDIA,16167611395,***.833.642-**,ABIGAIL DAGMAR MACHADO,16167611395,***.833.642-**,ABIGAIL DAGMAR MACHADO,BOLSA FAMILIA,1ª,Não há,"1200,00"
277,202004,AC,1200013.0,ACRELANDIA,14444818014,***.465.702-**,ABINADABE GONCALVES DA SILVA,-2,NaN,Não se aplica,CADUN NAO BOLSA,1ª,Não há,"600,00"

Já foi possível eliminar todas as linhas preenchidas com NaN partindo somente da coluna UF sem perder muitos dados. Ainda há NaN na coluna CPF RESPONSÁVEl, mas ela não me interessa e, se eu eliminá-la, posso perder muitos mais dados.

In [6]:
df.columns

Index(['MÊS DISPONIBILIZAÇÃO', 'UF', 'CÓDIGO MUNICÍPIO IBGE', 'NOME MUNICÍPIO',
       'NIS BENEFICIÁRIO', 'CPF BENEFICIÁRIO', 'NOME BENEFICIÁRIO',
       'NIS RESPONSÁVEL', 'CPF RESPONSÁVEL', 'NOME RESPONSÁVEL',
       'ENQUADRAMENTO', 'PARCELA', 'OBSERVAÇÃO', 'VALOR BENEFÍCIO'],
      dtype='object')

Aqui eu vejo todas as colunas do meu dataframe.

In [7]:
dfNomes = df[['NOME BENEFICIÁRIO', 'NOME MUNICÍPIO', 'VALOR BENEFÍCIO']]

Criei um novo dataframe baseado no antigo, usando somente as colunas que me interessam.

In [8]:
dfNomes.tail(5)

                      NOME BENEFICIÁRIO NOME MUNICÍPIO VALOR BENEFÍCIO
305698         ZENILDE ALVES DOS SANTOS        XAMBIOA          600,00
305699         ZEZILDO BENICIO DA SILVA        XAMBIOA          600,00
305700            ZILMA ALVES DE BARROS        XAMBIOA         1200,00
305701         ZULEIDE DA SILVA E SILVA        XAMBIOA          600,00
305702  ZULMIRA BENTO DE OLIVEIRA SILVA        XAMBIOA          600,00

Pedi para ver o final do dataframe somente pela curiosidade.

In [9]:
dfNomes.dtypes

NOME BENEFICIÁRIO    object
NOME MUNICÍPIO       object
VALOR BENEFÍCIO      object
dtype: object

Aqui eu vi o tipo de dado em cada coluna. Todos são objetos (texto). Eu poderia mudar a coluna com o valor do benefício para tipo numérico, mas não me interessa.

In [ ]:
dfNomes = dfNomes[dfNomes['NOME MUNICÍPIO']=='RIBEIRAO PRETO']

Aqui foi meu filtro. Pedi para salvar somente as linhas que contém o nome da minha cidade na coluna NOME MUNICÍPIO. A não utilização de acento foi uma dedução baseada nos nomes dos municipios no começo e no final do dataframe, assim como a caixa alta.

In [11]:
dfNomes.head(npartitions=-1)

                     NOME BENEFICIÁRIO  NOME MUNICÍPIO VALOR BENEFÍCIO
90036             AARON FERREIRA NOBRE  RIBEIRAO PRETO          600,00
90037  ABADIA DE LOURDES CAITANO GOMES  RIBEIRAO PRETO          600,00
90038          ABADIA DOS REIS MARTINS  RIBEIRAO PRETO          600,00
90039   ABADIA SOUZA SANT ANA DO CARMO  RIBEIRAO PRETO          600,00
90040           ABDAO CORREIA DE MOURA  RIBEIRAO PRETO          600,00

Pedi para ver os cinco primeiros registros do dataframe, utilizando argumento npartition=-1 para procurar em todas as partições. O dask.dataframe diminui o uso da memória dividindo o arquivo em diversos dataframes do pandas. Se eu soubesse em qual partição eu queria procurar, eu utilizava o número correspondente. Como não sei, pedi para olhar em todas usando -1.

In [12]:
dfNomesRp = dfNomes.compute()

Converti o dask.dataframe para pandas. Isso leva um pouco de tempo, dependendo do tamanho do arquivo, quantidade de operações e potência do seu computador.

In [13]:
dfNomesRp.to_csv('auxilioribeirao.csv', encoding ='utf8')

Salvei o arquivo e alterei a codificação para utf8.