In [2]:
import pandas as pd

Importei a biblioteca pandas, já que o arquivo é bem pequeno.

In [3]:
df = pd.read_excel('remuneracao_20200708_143953.xls')

Como é um arquivo XLS, utilizei este comando para ler arquivo Excel.

In [4]:
df.head(5)

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12
0,NaN,Portal da Transparência - Remuneração,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,Empresa:,Prefeitura Municipal de Ribeirão Preto,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,Secretaria:,TODAS,NaN,NaN,NaN,Local:,TODOS,NaN,NaN,NaN,NaN,NaN
3,NaN,Cargo:,TODOS,NaN,NaN,NaN,Vínculo:,TODOS,NaN,NaN,NaN,NaN,NaN
4,NaN,Nome,Tipo Vínculo,Função,Função Com.,Secretaria,Local,Acúmulo,Cessão Receb.,Ref.,Vencimento,Valor Desc.,Valor Líquido

Pedi para me mostrar as cinco primeiras entradas do dataframe para eu ver como estava organizado.

In [ ]:
df = df.drop([0, 1, 2, 3, 4])

Excluí as cinco primeiras linhas do arquivo, pois elas não tinham valor nenhum.

In [6]:
df.sample(5)

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12
2901,NaN,FERNANDA YEZA FERREIRA,ESTATUTARIO(A),ENFERMEIRO,,SECRETARIA MUNICIPAL DA SAUDE,CSE IPIRANGA,...,...,6/2020,4511.13,1041.2,3469.93
2803,NaN,FATIMA APARECIDA DE STEFANO COSENZA,ESTATUTARIO(A),COZINHEIRO,,SECRETARIA MUNICIPAL DA EDUCACAO,E.M.E.I. ANITA PROCOPIO JUNQUEIRA,...,...,6/2020,3495.35,1576.69,1918.66
2602,NaN,ERIKA MOREIRA PASCHOAL,ESTATUTARIO(A),TECNICO EM ENFERMAGEM,,SECRETARIA MUNICIPAL DA SAUDE,PROG. ASSIST. MEDICA EMERGENCIAL,...,...,6/2020,7358.2,1643.58,5714.62
7357,NaN,SANDRA DE ALMEIDA NUNES,ESTATUTARIO(A),AUXILIAR DE ENFERMAGEM,,SECRETARIA MUNICIPAL DA SAUDE,"CAPS III-""DR. ANDRE SANTIAGO""",...,...,6/2020,3265.05,1620.95,1644.1
3884,NaN,JOSE DONIZETE BATISTELA,ESTATUTARIO(A),AGENTE DE SEGURANCA,,SECRETARIA MUNICIPAL DA EDUCACAO,E.M.E.I. DEPUTADO JOAO SPERANDIO,...,...,6/2020,3506.01,760.71,2745.3

In [ ]:
Aqui eu pedi para me mostrar o arquivo de maneira aleatória a fim de curiosidade.

In [8]:
dfFunc = df[['Unnamed: 1', 'Unnamed: 10']]

Criei um novo dataframe baseado no antigo utilizando apenas as colunas do meu interesse.

In [9]:
dfFunc.head(5)

                                 Unnamed: 1 Unnamed: 10
5  ACACIO JOSE DAMASCENO                        3330.28
6  ADA CRISTIANI FERREIRA                       5931.76
7  ADAILTON GERALDO SELEGATO VICENTE            4022.28
8  ADALBERTO GONZAGA DA SILVA                   2535.07
9  ADALGISA APARECIDA ZANAROTTI PEREIRA           19871

Pedi para me mostrar as cinco primeiras entradas do dataframe para eu ver como ficou.

In [10]:
dfFunc = dfFunc.rename(columns={'Unnamed: 1':'Funcionario'})

Renomeei a coluna Unnamed: 1 para Funcionario. Não utilizar o acento foi para facilitar. As vezes o Python não se da bem com eles.

In [11]:
dfFunc.head(5)

                                Funcionario Unnamed: 10
5  ACACIO JOSE DAMASCENO                        3330.28
6  ADA CRISTIANI FERREIRA                       5931.76
7  ADAILTON GERALDO SELEGATO VICENTE            4022.28
8  ADALBERTO GONZAGA DA SILVA                   2535.07
9  ADALGISA APARECIDA ZANAROTTI PEREIRA           19871

Vi como ficou agora.

In [12]:
dfFunc = dfFunc.rename(columns={'Unnamed: 10':'Salario'})

Opa, esqueci de renomear a outra coluna.

In [13]:
dfFunc.head(5)

                                Funcionario  Salario
5  ACACIO JOSE DAMASCENO                     3330.28
6  ADA CRISTIANI FERREIRA                    5931.76
7  ADAILTON GERALDO SELEGATO VICENTE         4022.28
8  ADALBERTO GONZAGA DA SILVA                2535.07
9  ADALGISA APARECIDA ZANAROTTI PEREIRA        19871

Agora, sim. Do jeito que eu quero.

In [ ]:
dfFunc.to_csv('funcionariosribeirao.csv', encoding ='utf8')

Salvo.